<div class="container-fluid ">
  <div class=" p-3 mb-2 bg-info text-white">
<nav class="navbar offset-md-10 ">
  
    <a class="nav navbar-nav navbar-right " href="#">
      <img src="/assets/images/exato logo.jpg" alt="Bootstrap" width="60" height="40" >
    </a>
  
</nav>
</div>

<nav class="navbar navbar-expand-lg " style="background-color: #fde3e9;">
  <div class="container-fluid">
    
      <a class="nav-link active" aria-current="page" routerLink="/login">Home</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/info">Information</a>
       
        
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<router-outlet></router-outlet>


